
header {
    background-color: rgba(46, 46, 48, 0.911);
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #50c719;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 0.5px solid rgb(67, 1, 94);
    border-top: 5px solid rgb(67, 1, 94);
    border-radius: 0 0 40px 40px ;
}

.produtos li:hover {
    border-color: #19c722;
}

.produtos li:hover h2 {
    font-size: 20.2px;
}

.produtos li:hover p{
    font-size: 18.2px;
}

.produtos li:active {
    border-color: blueviolet;
}

.produtos h2 {
    font-size: 18.5px;
    font-weight: bold;
}

.preço {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 0 ;
}

.produto-descrição {
    font-size: 18px;
    font-style: italic;
}

footer {
    text-align: center;
    background: url("view/bg.jpg");
    padding: 40px 0;
}

footer .copy {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
    
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    
}

form label, form legend {
    display: block;
    font-size: 18px;
    margin: 8px 0 10px;
}

.input-padrão {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0 ;
}

.botão-enviar {
    width: 55%;
    padding:14px 0;
    font-size: 18px;
    background-color: #929c95;
    color: aliceblue;
    border: none;
    transition: 0.8s all;
    cursor: pointer;
}

.botão-enviar:hover {
    background-color: #0c633a;
    font-size: 18.2px;
    transform: 10px scale(1.2) ;
}

.botão-enviar:active {
    background-color: rgba(9, 12, 173, 0.863);
}